<h3>Here are some of your categories</h3>

  <form action="/categories" method="post">
    <label for="category_type">Create Category</label>
    <input id="category_type" name="category_type" type="text">

    <button class="btn btn-sm btn-primary">Create!</button>
  </form>


  <% if @categories.any?() %>

    <ul>
      <% @categories.each() do |category| %>
          <li><a href="/categories/<%= category.id %>"><%= category = category.type_of() %></a></li>
      <% end %>
    </ul>

  <% else %>
    <p> You have no saved categories </p>
  <% end %>
