<h3>Help me think of something to eat!</h3>


<a href="/categories" class="btn btn-lg btn-primary">GO!</a>

<p>
  OR...
</p>


<h3>Create your own recipe!</h3>

<a href="/create_recipe" class="btn btn-lg btn-success">GO!</a>
<!-- create name and assign id to recipe here -->
