
<h3>Here's a list of your recipes</h3>
  <ul style="list-style: none;">
    <% @recipes.each() do |recipe| %>
    <a href="/recipe/<%= recipe.id() %>"><li><%= recipe.name() %></li></a>
    <% end %>
  </ul>

<h3>Create your own recipe!</h3>

<a href="/create_recipe" class="btn btn-lg btn-success">GO!</a>
<!-- create name and assign id to recipe here -->
